<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>236DF0192320B11F00C32E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236DF02D2320B12000C32E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>236DF0382320B12000C32E7F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB88EE2E23317D5F00B0BD33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
